:root {
  --primary: #ffaa00;
  --secondary: #041f42;
  --acent: #ffffff;
  --dark: #000000;
  --light: #72cad2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navegação */
nav {
  background: var(--secondary);
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.logo {
  color: var(--light);
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: var(--light);
  text-decoration: none;
  transition: color 0.4s;
}

.nav-links a:hover {
  color: var(--primary);
}

/*  Seção */
section {
  padding: 5rem 2rem;
}

/* Seção Inicio */
#home {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4) 50%,
      rgba(0, 0, 0, 0.4) 50%
    ),
    url("/img/glass-kaue.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: var(--light);
  text-align: center;
  margin-top: 60px;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* Sobre */
#sobre {
  background: var(--light);
}

#sobre h3 {
  font-size: 24px;
}

#sobre p {
  margin-top: 1rem;
  font-size: 18px;
}

.servico-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 1200px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--secondary);
  font-size: 32px;
}

.servico-item {
  background: var(--acent);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.servico-item:hover {
  transform: translateY(-5px);
}

.servico-item h3 {
  color: var(--primary);
}

/* Adicionar os estilos para as imagens*/

.servico-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
  border: 3px solid var(--acent);
}

/* Seção Sobre*/

#sobre {
  background: var(--secondary);
  text-align: center;
  color: var(--acent);
}

/*Footer*/
footer {
  background: var(--dark);
  color: var(--light);
  padding: 3rem 2rem;
  text-align: center;
}
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.footer-section h3 {
  color: var(--primary);
  margin-bottom: 1rem;
}
.footer-section a {
  color: var(--light);
}

.footer-section a:hover {
  color: var(--acent);
}

/*Estilo Botão*/

.btn {
  display: inline-block;
  padding: 0.8rem 2rem;
  background: var(--acent);
  color: var(--light);
  border-radius: 25px;
  text-decoration: none;
  margin-top: 1rem;
  transition: background 0.4s;
}
.btn:hover {
  background: var(--secondary);
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 1rem;
  }
  .hero-content h1 {
    font-size: 2rem;
  }
}
/* Fim do CSS */
